:root {
  --clr-primary-400: #000000;
  --clr-grey-100: #f9f9f9;
  --clr-grey-200: #e6e6e6;
  --clr-grey-300: #737373;
  --clr-grey-400: #252B42;
  --clr-grey-500: #18191F;
  --clr-grey-600: #161616;
  --clr-neutral-100: #ffffff;
  --clr-accent-200: #23A6F0;
  --clr-accent-400: #f4511e;

  --ff-primary: "Inter", sans-serif;
  --ff-secondary: "DM sans", sans-serif;

  /* --fs-50: 10px;14 16 18 21.5 h624 h526 h428 h336 h240 h152  */
  --fs-50: 14px;
  --fs-100: 16px;
  --fs-200: 18px;
  --fs-300: 21.5px;
  --fs-400: 24px;
  --fs-500: 26px;
  --fs-600: 28px;
  --fs-700: 36px;
  --fs-800: 40px;
  --fs-900: 52px;

  --fs-body: var(--fs-100);
  --fs-primary-heading: var(--fs-900);
  --fs-secondary-heading: var(--fs-700);
  --fs-nav: var(--fs-200);
  --fs-button: var(--fs-200);
  --fs-form-button: var(--fs-300);

  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semi-bold: 600;
  --fw-bold: 700;
  --fw-extra-bold: 800;
}

@media (max-width: 50em) {
  :root {
    --fs-primary-heading: var(--fs-800);
    --fs-secondary-heading: var(--fs-400);
    --fs-button: var(--fs-100);
    --fs-form-button: var(--fs-200);
    --fs-700: var(--fs-400);
    --fs-button: var(--fs-100);
    --fs-form-button: var(--fs-200);
    --fs-700: var(--fs-300);
    --fs-500: var(--fs-200);
  }
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* Preset */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ------------------------------------------------------------------------------------------------------ */
/* General styling */

body {
  font-size: var(--fs-body);
  font-family: var(--ff-primary);
  color: var(--clr-primary-400);
  background: linear-gradient(200.44deg,
      rgba(0, 0, 0, 0.0001) 16.41%,
      rgba(0, 0, 0, 0.51) 77.16%),
    url(./assets/hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

h1 {
  font-size: var(--fs-900);
  max-width: 18ch;
}

h2 {
  color: var(--clr-grey-500);
  font-size: var(--fs-800);
  font-weight: var(--fw-extra-bold);
  max-width: 16ch;
}

h3 {
  font-size: var(--fs-700);
  text-transform: capitalize;
  color: var(--clr-grey-500);
}

h4 {
  font-size: var(--fs-600);
}

h5 {
  font-size: var(--fs-500);
  text-transform: capitalize;
  color: var(--clr-grey-500);
}

h6 {
  font-size: var(--fs-400);
}

p {
  max-width: 40ch;
}

.btn {
  display: inline-flex;
  cursor: pointer;
  text-decoration: none;
  text-transform: capitalize;
  border: 0;
  border-radius: 0.8125rem;
  padding: 1.375em 2em;
  font-weight: var(--fw-medium);
  font-size: var(--fs-button);
  line-height: 1;
  color: var(--clr-neutral-100);
  background-color: var(--clr-accent-400);
  white-space: nowrap;
}

.submit-btn {
  padding: 1.375rem 10rem;
  border-radius: 0.5625rem;
  font-size: var(--fs-form-button);
  justify-self: center;
}

.play-btn {
  padding: 2.175rem 2.3rem;
  border-radius: 73.6px;
}

.btn:hover,
.button:focus-visible {
  background: rgba(244, 81, 30, 0.7);
}

@media (max-width: 50em) {
  .btn {
    padding: 0.9em 1em;
    border-radius: 0.5rem;
  }
}

/* ----------------------------------------------------------------------------------------- */
/* Utility classes */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  /* added line */
  border: 0;
}

.container {
  --max-width: 1200px;
  --padding: 0.5rem;

  width: min(var(--max-width), 100% - (var(--padding) * 2));
  margin-inline: auto;
}

:where(.flow > :not(:first-child)) {
  margin-top: var(--flow-spacer, 3em);
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.625rem;
}

.even-columns {
  display: grid;
  gap: 1rem;
}

@media (min-width: 50em) {
  .even-columns {
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }
}

.ff-primary {
  font-family: var(--ff-primary);
}

.ff-secondary {
  font-family: var(--ff-secondary);
}

.text-primary-400 {
  color: var(--clr-primary-400);
}

.text-grey-300 {
  color: var(--clr-grey-300);
}

.text-grey-400 {
  color: var(--clr-grey-400);
}

.text-grey-500 {
  color: var(--clr-grey-500);
}

.text-grey-600 {
  color: var(--clr-grey-600);
}

.text-accent-400 {
  color: var(--clr-accent-400);
}

.bg-neutral-100 {
  background-color: var(--clr-neutral-100);
}

.bg-accent-200 {
  background-color: var(--clr-accent-200);
}

.fw-regular {
  font-weight: var(--fw-regular);
}

.fw-medium {
  font-weight: var(--fw-medium);
}

.fw-semi-bold {
  font-weight: var(--fw-semi-bold);
}

.fw-bold {
  font-weight: var(--fw-bold);
}

.fw-extra-bold {
  font-weight: var(--fw-extra-bold);
}

.fs-50 {
  font-size: var(--fs-50);
}

.fs-100 {
  font-size: var(--fs-100);
}

.fs-200 {
  font-size: var(--fs-200);
}

.fs-300 {
  font-size: var(--fs-300);
}

.text-center {
  text-align: center;
}

@media (min-width: 50em) {
  .display-lg-none {
    display: none;
  }
}

@media (max-width: 50em) {
  .display-sm-none {
    display: none;
  }
}

/* Nav */
.primary-header {
  max-width: 100%;
}

.top-nav {
  padding: 1.25rem 0;
  display: grid;
  grid-auto-flow: column;
  align-items: flex-end;
  gap: 20%;
  justify-content: flex-start;
  border-bottom: 0.5px solid var(--clr-neutral-100);
}

.primary-nav ul {
  width: min(481px, 33.4vw);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  gap: 1rem;
}

.primary-nav ul li a {
  display: inline-block;
  text-decoration: none;
  color: var(--clr-neutral-100);
  font-size: var(--fs-nav);
  font-weight: var(--fw-regular);
  text-transform: capitalize;
  white-space: nowrap;
}

.primary-nav ul li a:hover,
.primary-nav ul li a:focus {
  font-weight: var(--fw-medium);
  /* border-bottom: 2.3px solid var(--clr-neutral-100); */
}

.logo {
  max-width: none;
}

.primary-header button {
  border: none;
  background: transparent;
  cursor: pointer;
}

.primary-header button>svg {
  font-size: var(--fs-400);
  color: var(--clr-neutral-100);
}

@media (max-width: 50em) {
  body {
    position: relative;
  }

  .top-nav {
    justify-content: space-between;
  }

  .nav-wrapper {
    position: absolute;
    top: 0;
    left: 0px;
    white-space: nowrap;
    width: 0px;
    background-color: var(--clr-grey-400);
    padding: 0;
    z-index: 100;
    overflow: hidden;
    transition: width 0.3s ease-in;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
  }

  .nav-header {
    width: 100%;
    padding: 3rem 1rem 0;
  }

  .sidebar-open {
    width: 100%;
  }

  .nav-wrapper>.flex:first-child {
    justify-content: space-between;
  }

  .primary-nav ul {
    flex-direction: column;
    margin-bottom: 5rem;
  }

  .nav-icons button img {
    width: 24.72px;
    padding: 0.3125rem;
  }

  .nav-icons>button:last-child {
    display: none;
  }
}

/* Hero section */
.hero-section {
  margin-top: 5rem;
  align-items: center;
  justify-content: flex-start;
  grid-template-columns: 1fr 1fr;
}

.primary-heading {
  font-size: var(--fs-primary-heading);
  color: var(--clr-neutral-100);
  text-transform: capitalize;
}

.map {
  justify-self: center;
}

.map>div:first-child {
  height: 340px;
  background: var(--clr-grey-100);
  box-shadow: 0px 0px 18px 3px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}

.map-form {
  margin-top: 1.3125rem;
  padding: 1rem 1.375rem;
  display: flex;
  background-color: var(--clr-neutral-100);
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.map-form .form-control {
  padding: 1rem 1.4375rem;
  background: var(--clr-grey-100);
  border: 1px solid var(--clr-grey-200);
}

.map-form .form-control:first-child {
  border-radius: 5px 0px 0px 5px;
}

.map-form button[type="submit"] {
  border: 1px solid var(--clr-grey-200);
  border-radius: 0px 5px 5px 0px;
  background-color: var(--clr-accent-200);
  padding: 1.3125rem;
}

.map-form button[type="submit"] {
  font-size: var(--fs-300);
  color: var(--clr-grey-100);
}

.map-form select {
  border: none;
  outline: none;
  background: none;
  font-size: var(--fs-50);
  text-transform: capitalize;
}

@media (max-width: 50em) {
  .hero-section {
    margin-top: 2.5rem;
    grid-template-columns: auto;
  }
}

/* About Section */

.about-section {
  padding-top: 16.4375rem;
  padding-bottom: 5.8125rem;
}

.about-section .even-columns {
  margin-top: 2.75rem;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 4.0625rem;
}

.sub-heading {
  max-width: fit-content;
}

.underline {
  width: 45.9%;
  border-bottom: 3px solid var(--clr-accent-400);
}

.about-section .even-columns>div:first-child {
  width: min(26.9vw, 387px);
  height: 521px;
  background: url(https://images.unsplash.com/photo-1600566753151-384129cf4e3e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80),
    var(--clr-grey-200);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 5px 24px 53px rgba(0, 0, 0, 0.25);
  border-radius: 50px 0px;
}

.about {
  display: grid;
  grid-template-rows: repeat(2, auto);
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 5rem;
}

.about>* {
  overflow: visible;
}

.about h5 {
  max-width: 11ch;
}

.about .about-detail:nth-child(2) h5 {
  max-width: 12ch;
}

.about .about-detail:nth-child(3) h5 {
  min-width: 18ch;
}

.about-detail>div>svg {
  box-sizing: content-box;
  padding: 20px;
  font-size: var(--fs-500);
  background: var(--clr-grey-100);
  color: var(--clr-accent-400);
  box-shadow: 0px 12px 19px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

@media (max-width: 50em) {
  .about-section {
    padding-top: 5rem;
  }

  .about-section .even-columns {
    grid-auto-flow: column;
    justify-content: center;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .about-section .even-columns>div:first-child {
    width: 100%;
  }

  .about {
  grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

/* Properties */
.property-section {
  background: #f5f5f5;
}

.property-section > .container {
  --max-width: 1140px;
  padding-top: 3.75rem;
  padding-bottom: 5rem;
}

.properties-wrapper {
  margin-top: 4.3125rem;
  padding-bottom: 1.5rem;
  display: grid;
  grid-template-columns: repeat(3, auto);
  row-gap: 3.75rem;
  column-gap: 2.0625rem;
  justify-content: flex-start;
}

.property {
  border-radius: 1.6635rem;
  overflow: hidden;
  background: var(--clr-neutral-100);
  border: 1px solid #979797;
  cursor: pointer;
}

.property:hover {
  border: none;
  box-shadow: 0px 34.0693px 36.1986px rgba(0, 0, 0, 0.133714);
}

.property * {
  font-family: var(--ff-secondary);
  text-transform: capitalize;
  letter-spacing: -0.642075px;
}

.property-img {
  height: 283.2px;
  width: 357px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.property-info {
  --flow-spacer: 1.1875rem;
  padding: 1.125rem 0 1.125rem 1.6875rem;
}

.property-info :last-child {
  --flow-spacer: 0.1875rem;
}

.property-info > h6 {
  max-width: 24ch;
}

.property footer {
  display: flex;
  height: 64px;
  border-top: 1px solid var(--clr-grey-300);
  align-items: center;
  justify-content: space-around;
}

.property footer > div {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 0.625rem;
  align-items: center;
  justify-content: center;
}

.property footer > div:not(:last-child) {
  border-right: 1px solid var(--clr-grey-300);
}

.pagination-btn__container {
  margin-top: 3.75rem;
  width: fit-content;
  margin-inline: auto;
  background: #FFFFFF;
  border: 1.34552px solid #BDBDBD;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 6.72761px;
  overflow: hidden;
}

.pagination-btn__container button {
  color: var(--clr-accent-400);
  background-color: var(--clr-neutral-100);
  cursor: pointer;
}

.pagination-btn__container button:first-child,
.pagination-btn__container button:last-child {
  padding: 1.5625rem;
  border: none;
}

.pagination-btn__container button:not(:first-child, :last-child) {
  padding: 1.5625rem 1.25rem;
}

.pagination-btn__container button:not(:last-child) {
  border: 1px solid #E9E9E9;
}

.pagination-btn__container button:not(:disabled):hover,
.pagination-btn__container .active-btn {
  background-color: var(--clr-accent-400);
  color: var(--clr-neutral-100);
}

.pagination-btn__container button:disabled {
  background-color: #f3f3f3;
  cursor: not-allowed;
}

@media (max-width: 50em) {
  .properties-wrapper {
    grid-template-columns: 1fr;
  }

  .property-img {
    width: 100%;
  }
}

.features-section {
  --max-width: 1130px;
  margin-top: 6.875rem;
  grid-template-columns: 1fr auto;
  align-items: center;
  justify-content: center;
}

.features {
  display: grid;
  max-width: 100%;
  /* flex-wrap: wrap; */
  gap: 20px;
  /* justify-content: space-around; */
}

.features div {
  display: flex;
  gap: 20px;
}

.features > div:first-child {
  align-items: flex-end;
}

.features > div > article {
  background: rgba(0, 0, 0, 0.2);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
}

.features > div > article > h6 {
  color: var(--clr-neutral-100);
  max-width: 13ch;
  text-align: center;
  width: fit-content;
  margin-inline: auto;
  margin-top: 1.875rem;
}

.features > div:first-child > article:nth-child(1) {
  background-image: url(https://images.unsplash.com/photo-1615874959474-d609969a20ed?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80);
  width: 250px;
  height: 334px;
}

.features > div:first-child > article:nth-child(2) {
  background-image: url(https://www.ipma.world/assets/bruce-mars-AndE50aaHn4-unsplash.jpg);
  width: 270px;
  height: 270px;
}

.features > div:last-child > article:nth-child(1) {
  background-image: url(https://images.unsplash.com/photo-1528740561666-dc2479dc08ab?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80);
  width: 212px;
  height: 285px;
}

.features > div:last-child article:nth-child(2) {
  background-image: url(https://images.unsplash.com/photo-1633113214698-485cdb2f56fd?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80);
  width: 338px;
  height: 356px;
}

.features-section div:last-child {
  --flow-spacer: 1rem;
}

.features-section div:last-child .btn {
  --flow-spacer: 2.5rem;
}

@media (max-width: 50em) {
  .features-section {
    grid-template-columns: 1fr;
    grid-auto-flow: column;
    grid-template-rows: 1fr auto;
    column-gap: 1rem;
  }

  .features div,
  .features > div:first-child {
    flex-direction: column;
    align-items: center;
  }
}

/* Form nla */

.form-wrapper {
  --flow-spacer: 2.3125rem;
  margin-top: 6.875rem;
}

.form-wrapper * {
  text-transform: capitalize;
}

.property-form {
  padding: 2.8125rem 3.9375rem 3.25rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5625rem;
  box-shadow: 0px 4px 63px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

.property-form :nth-last-child(-n + 3) {
  grid-column: 1 / span 3;
}

.property-form .form-control {
  display: flex;
  flex-direction: column;
  gap: 0.3125rem;
}

.property-form .form-control label:not(.drop-zone label) {
  font-weight: var(--fw-semi-bold);
  font-size: var(--fs-200);
  line-height: 24px;
  letter-spacing: 0.2px; 
  color: var(--clr-grey-400);
}

.drop-zone label {
  color: var(--clr-accent-400);
}

.property-form .form-control input,
.property-form .form-control textarea,
.property-form .form-control select {
  background: var(--clr-grey-100);
  border: 1px solid var(--clr-grey-200);
  border-radius: 0.3125rem;
}

.property-form .form-control input {
  padding: 0.6875rem 1.3125rem;
}

.property-form .form-control textarea {
  padding: 0.8125rem 1.125rem;
}

.property-form .form-control .drop-zone {
  height: 102px;
  background-color: rgba(244, 81, 30, 0.01);
  border: 1px dashed var(--clr-accent-400);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.drop-zone h6, 
.drop-zone p,
.drop-zone label {
  text-transform: none;
}

.property-form .form-control .drop-zone-active {
  background-color: rgba(244, 81, 30, 0.1);
  border-style: solid;
}

.property-form .form-control select {
  padding: 0.6875rem 1.125rem;
  border-right: 1.8125rem solid transparent;
}

.property-form .form-control input::placeholder,
.property-form .form-control select:required:invalid {
  font-weight: var(--fw-regular);
  font-size: var(--fs-50);
  line-height: 28px;
  letter-spacing: 0.2px;
  color: var(--clr-grey-300);
}

.property-form .form-control input,
.property-form .form-control select option {
  color: var(--clr-grey-400);
}

.property-form .form-control select {
  cursor: pointer;
}

.input-images {
  justify-content: flex-start;
  gap: 1rem;
}

@media (max-width: 50em) {
  .property-form {
    padding: 2.8125rem 1.9375rem 3.25rem;
    grid-auto-flow: column;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(11, auto);
    align-items: flex-start;
    justify-content: flex-start;
  }

  .property-form :nth-last-child(-n + 3) {
    grid-column: initial;
  }

  .submit-btn {
    padding: 1.375rem 1rem;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
  }
}

.input-images > img {
  width: 50px;
}

/* Testimony */
.testimony-section {
  margin-top: 6.875rem;
  padding-left: 0.5rem;
  padding-bottom: 4.875rem;
  padding-top: 8.125rem;
  background-color: rgba(244, 81, 30, 0.07);;
}

.testimony-wrapper {
  position: relative;
  margin-left: 9vw;
}

.testimony > p {
  max-width: 47ch;
  font-size: var(--fs-300);
  color: var(--clr-grey-500);
}

.pfp {
  width: 61px;
  height: 61px;
  background: var(--clr-grey-200);
  border: 2px solid #F4511E;
  border-radius: 100vw;
}

.testimony footer {
  margin-top: 1.625rem;
  display: flex;
  align-items: center;
  gap: 1.25rem;
}

.testimony::before {
  content: "a";
  font-size: var(--fs-900);
  color: var(--clr-accent-400);
  opacity: 0.3;
  position: absolute;
  top: -32px;
  left: -49px;
}

.testimony-wrapper > div:last-child {
  margin-top: 4.6875rem;
  display: flex;
  gap: 0.75rem;
}

.carousel-btn {
  width: 10px;
  height: 10px;
  background: #D9DBE1;
  border: none;
  border-radius: 100vw;
  cursor: pointer;
}

.carousel-btn__active {
  background: var(--clr-accent-400);
}

/* Footer */
.footer {
  --max-width: 1260px;
  margin-top: 13.125rem;
  border-top: solid var(--clr-accent-400);
  padding-top: 5.8125rem;
  padding-bottom: 6.25rem;
}

.footer .container {
  --max-width: 1074px;
}

.footer p {
  max-width: 164ch;
  white-space: nowrap;
}

.footer .even-columns {
  align-items: center;
  justify-content: center;
}

.footer .even-columns div > article:first-child {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: flex-start;
  gap: 22px;
}

.footer .even-columns div > article:first-child a {
  display: flex;
  flex-direction: row;
  gap: 22px;
  align-items: center;
  text-decoration: none;
  text-transform: capitalize;
  font-size: var(--fs-50);
  color: var(--clr-grey-500);
}

.footer .even-columns div > article a svg {
  font-size: var(--fs-400);
  color: var(--clr-accent-400);
}

.footer .even-columns div > article:first-child a:first-child {
  grid-column: 1 / 3;
}

.footer .even-columns div > article:last-child {
  margin-top: 2.875rem;
}

.footer .even-columns:last-child {
  grid-template-columns: auto 1fr;
  margin-top: 5.3125rem;
  border-top: 1px solid var(--clr-grey-200);
  padding-top: 1.5rem;
}

.footer .even-columns:last-child a {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--clr-grey-500);
  white-space: nowrap;
}

.footer .even-columns:last-child p {
  justify-self: flex-end;
  font-size: var(--fs-50);
  color: var(--clr-grey-300);
}

@media (max-width: 50em) {
  .footer {
    margin-top: 5rem;
    padding-top: 3rem;
    padding-bottom: 2.5rem;
  }
}